<body>
    <popup class="prod1">
        <div class="prod">
         <div class="textinput">
         <label for="">Business Name</label><br><br>
         <input type="text">
         </div>
         <br>
         <div class="textinput">
         <label for="">Business Name</label><br><br>
         <input type="text">
         </div>
         <br>
         <div class="textinput">
         <label for="">Business Name</label><br><br>
         <input type="text">
         </div>
         <br>
           <div class="textinput">
         <label for="">Business Name</label><br><br>
         <input type="text">
           </div>
 </div>
 </popup>
  <div class="Editcontainer">

<div class="leftcont">
    <div class="logs">
        <!-- <img src="../assets/log.png" alt=""> -->
      </div>
<i><h1>GasRadar</h1></i>
</div>
<h2>Edit Business Profile</h2>
<div class="rightcont">

<div class="details">
  <div class="textinput">
<label for="">Business Name</label><br><br>
<input type="text">
</div>
<br>
<div class="textinput">
<label for="">Owner Name</label><br><br>
<input type="text">
</div>
<br>
<div class="textinput">
<label for="">Business Address</label><br><br>
<input type="text">
</div>
<br>
  <div class="textinput">
<label for="">Business E-mail</label><br><br>
<input type="text">
  </div>
  <div class="textinput">
      <label for="">Business tel</label><br><br>
      <input type="text">
      </div>
      <br>
      <div class="combo">
          <label class="business" for="business">Shop Type: </label>
          <select class="selects" value="none" placeholder="business" >
              <option value="spaza">Spaza</option>
              <option value="supermarket">Supermarket</option>
              <option value="garage">Garage</option>
            </select>
          </div>
<br>
</div>

</div>
<div class="butts">
    <button class="btn" type="submit" (click)="showPopup()">Submit</button>
  </div>
</div>
</body>
