<!-- <body>
  <ul>
    <li><a href="#blue"> Blue</a></li>
    <li><a href="#Red"></a>red</li>
  </ul>

  <div id="slider">
      <ul>
          <li><a href="#blue"> Blue</a></li>
          <li><a href="#red"> Red</a></li>
        </ul>
   <div class="cont" id="blue">Blue
      <ul>
          <li><a href="#red"> Blue</a></li>
          <li><a href="#red"> Red</a></li>
        </ul>

   </div>
   <div class="cont" id="red">
     
      <h2>Products</h2>
      <ul>
          <li><a href="#blue"> Blue</a></li>
          <li><a href="#red"> Red</a></li>
        </ul>
       
            <div id="slide">
      <input type="text" placeholder="Business Name"> <br>
      <input type="text" placeholder="Owner Name"> <br>
      <input type="text" placeholder="Business Address"> <br>
      <input type="text" placeholder="Business E-mail"> <br>
      <input type="text" placeholder="Business Tel">
      </div>
        
   </div>

  </div>

 
</body> -->