ul{
   position: fixed;
   top: 50em; 
   left: 0;
   margin: 0;
   padding: 0;
   z-index: 1;
}
ul,li{
    list-style: none;
}

#slider{
    width: 100em;
    height: 50em;
    scroll-behavior: smooth;
    overflow-y: scroll;

   
}
#slider,#red{
    background-color: red;
}
#slider,#blue{
    background-color: blue;
}
#slider,div{
    position: relative;
    height: 100em;
    width: 160em;
    text-align: center;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    // font-size: 2em;
}

