<body>
  <div class="container">

    <div class="left">
    <h1>GasRadar</h1>
    <!-- <input type="text" placeholder="Business Name"> -->
    </div>

    <div class="right">
    <h2>Business Form</h2>

      <input type="text" placeholder="Business Name"> <br>
      <input type="text" placeholder="Business Name"> <br>
      <input type="text" placeholder="Business Name"> <br>
      <input type="text" placeholder="Business Name"> <br>
      <input type="text" placeholder="Business Name">

<div class="butt">
   <button class="btn" type="submit" >Register</button>
</div>
     
    </div>

  </div>
</body>

